.users{
    position: fixed;
    /* height: 100vh;
    width: 100%; */
    width: 210px;
    padding: 0px !important;
}
.user-list{
    height: 100%;
    overflow-y: auto;
    /* Hide scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.user-list::-webkit-scrollbar { 
    display: none;  /* For Chrome, Safari, and Opera */
}
.users ul{
   list-style: none;
   padding: 0px;
   
}
.users ul li{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
 }
 .users ul li:hover{
    background-color: rgb(196, 196, 185);
 }
.text-center{
    text-align: center;
}
.user{
    display: flex;
    justify-content: space-around;
}
.online{
 height: 10px;
 width: 10px;
 border-radius: 50%;
 background-color: green;   
}
.offline{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;   
   }

.mat-badge-content {
    color: #fff;
    background: #39a21f;
    position: unset;
}
.search input[type="text"]{
    width: 100%;
    margin-bottom: 20px;
    margin-left: 2px;
    padding-left: 5px;
}