.chat{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat-content{
    height: calc(100vh - 150px);
    overflow-y: auto;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    /* Hide scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.chat-content::-webkit-scrollbar { 
    display: none;  /* For Chrome, Safari, and Opera */
}
.sendMessage{
    /* position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 7px;
    margin-right: 20px; */
    position: absolute;
    left: 10%;
    bottom: 3%;
    display: flex;
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
}
.sendMessage input[type="text"]{
  width: 90%;
  border-radius: 30px;
  padding: 10px;
  margin-left: 5px;
}
.sendMessage button{
    border-radius: 30px;
    padding: 10px;
    margin-left: 5px;
    width: 100px;
  }
  .card{
    margin-top: 10px;
  }
  .card:nth-last-child(2){
    margin-bottom: 50px;
  }
.left{
    /* float: left; */
    margin-right: auto;
    margin-left: 10px;
  }
.right{
    /* float: right; */
    margin-left: auto;
    margin-right: 10px;
  }
  .user-header{
    text-align: center;
    height: 80px;
  }
  .selectUser{
    position: absolute;
    top: 50%;
    left: 20%;
  }
 
  .seen{
    color: blue;
  }